<mat-toolbar color="primary">
  <button
    mat-icon-button
    (click)="navRef.toggle()"
    [style.display]="mobileQuery.matches ? 'inline-block' : 'none'"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <h1>
    <a routerLink="/">Fitness Tracker</a>
  </h1>
  <ul [style.display]="mobileQuery.matches ? 'none' : 'flex'">
    <li routerLink="/login" *ngIf="!isAuth">
      <a>Login</a>
    </li>
    <li routerLink="/signup" *ngIf="!isAuth">
      <a>Signup</a>
    </li>
    <li routerLink="/training" *ngIf="isAuth">
      <a>Trainings</a>
    </li>
    <li (click)="logout()" *ngIf="isAuth">
      <a>Logout</a>
    </li>
  </ul>
</mat-toolbar>
